# --- Python ---
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Entornos Virtuales ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Streamlit ---
.streamlit/config.toml
.streamlit/secrets.toml

# --- Datos y Notebooks ---
# Ignora archivos de datos pesados o temporales
data/*.csv
data/*.xlsx
data/*.json
# Si quieres subir un archivo de ejemplo, puedes usar: !data/ejemplo.csv

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- OS / IDE ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.swp